<page-header></page-header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div clas="col-md-8">
            <table border="1" style="color:white">
                <thead>
                    <tr>
                        <th style="width:5%"><input type="checkbox" ng-model="model.allItemsSelected" ng-change="selectAll()"></th>
                        <th>Param</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in model.entities" ng-class="{selected: entity.isChecked}">
                        <td style="width:5%"><input type="checkbox" ng-model="entity.isChecked" ng-change="selectSome()"></td>
                        <td>{{entity.value}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <canvas id="barChart" width="200px" height="200px">{{ barChart }}</canvas>
        </div>
        <div class="col-md-6">
            <canvas id="lineChart" width="300px" height="300px">{{ lineChart }}</canvas>
        </div>
    </div>
        <!-- <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <canvas id="barChart" width="300px" height="300px"></canvas>
            </div>
        </div> -->
    </div>
</body>