<page-header></page-header>
                    
<div class="container-fluid">
    <div class="row flex-nowrap">
        <left-nav></left-nav>
        <div class="col-md-9">
            <div class="example">
                <div class="container">
                    <div class="row">
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="" class="listDevice">List Devices<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">FFFFFF-Generic-FFFFFF123456</a></li>
                                <div class="divider"></div>
                                <li><a href="#">abc</a></li>
                                <div class="divider"></div>
                                <li><a href="#">def</a></li>
                                <div class="divider"></div>
                                <li><a href="#">gh</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>