<page-header></page-header>
                    
<div class="container-fluid">
    <div class="row flex-nowrap">
        <left-nav></left-nav>
        <div class="col-md-9">
            <div class="example">
                <div class="container" id="menuDevices">
                    <div class="dropdown">
                        <a data-toggle="dropdown" href="" class="listDevice" ng-click="onClick()">List Devices</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="device in devices"><a href="#/devices/{{device._id}}">{{device._id}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>